//classi per le icons
.icons{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 170px;
    background-color: #0282f9;

    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        list-style: none;
        gap: 4rem;

        li{
            width: 200px;
            a{
                text-decoration: none;
                color: white;
    
                img{
                    width: 50px;
                    vertical-align: middle;
                    margin-right: 1rem;
                }
             }
        }

    }
}